<html lang="en">
  <head>
    <%- include('../helpers/head.ejs') %>
  </head>

  <body>
    <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
    <!-- Check out more components here: http://getbootstrap.com/components/ -->
    <div class="page-header">
      <%- include('../helpers/navbar.ejs') %>
      <h1>API Weather Web App</h1>
    </div>
    <button onClick="() => handleSignIn()">Login</button>

    <!-- send message form-->
    <form onSubmit="() => handleMessageFormSubmit()" action="#">
      Title:<br />
      <input id="post-title" /><br />
      Body:<br />
      <textarea id="post-body"></textarea><br />
      <button>Submit</button>
    </form>

    <!--Post listing here-->
    <h3>Posts Listing</h3>
    <div id="post-listing"></div>

    <!--Bellow is the display of infos from the weather API-->
    <div class="weather">
      <input class="search" type="text" placeholder="Enter city name" />
      <button type="button" onClick="() => searchWeather()">Search</button>
      <div class="error-message"></div>
      <div class="city-name">
        <p>City is :</p>
        <p class="city"></p>
      </div>
      <div class="city-temp">
        <p>Temperature is :</p>
        <p class="temp"></p>
        <p>°C</p>
      </div>
      <div class="city-wind">
        <p>Wind is :</p>
        <p class="wind"></p>
        <p>km/h</p>
      </div>
    </div>
    <p class="reward">BRAVO! Ask for a reward now</p>

    <button onClick="() => showPicture()" class="btn btn-dark">
      Yes, this button!
    </button>

    <div id="image"></div>
  </body>
</html>
