<html lang="en">
  <head>
    <%- include('../helpers/head.ejs') %>
  </head>

  <body>
    <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
    <!-- Check out more components here: http://getbootstrap.com/components/ -->
    <div class="page-header">
      <%- include('../helpers/navbar.ejs') %>
      <h1>API web app</h1>
    </div>
    <div class="weather">
      <input class="search" type="text" placeholder="Enter city name" />
      <button type="button" onClick="searchWeather()">Search</button>
      <div class="city-name">
        <p>City is :</p>
        <p class="city"></p>
      </div>
      <div class="city-temp">
        <p>Temperature is :</p>
        <p class="temp"></p>
        <p>°C</p>
      </div>
    </div>
    <p class="reward">BRAVO! Now click on the button for a reward:</p>

    <button onClick="showPicture()" class="btn btn-dark">
      Yes, this button!
    </button>

    <div id="image"></div>
  </body>
</html>
